{{#if books}}
<h1>Books</h1>
  {{#each books}}
    <div class="col-md-4">
      <div class="card card-body">
        <p class="ml-auto"><a href="/books/edit/{{id}}">Edit<span class="glyphicon">&#x270f;</span></a></p>
        <h3>{{title}}</h3>
        <p>Author: {{ author }}</p>
        <p>ISBN: {{ isbn }}</p>
        <form action="/books/delete/{{id}}" method="POST">
        <button class="btn btn-danger btn-block" type="submit">Delete book</button></form>
      </div>
    </div>
  {{/each}}
{{/if}}
